.nav {
  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 20px;
  height: 30px;
  z-index: 1;
  transition: all 0.5s;
  transition-timing-function: ease-out;
}
.nav_black{
    background-color: #111;
}
.logo {
  position: fixed;
  width: 80px;
  object-fit: contain;
  left: 20;
}
.avatar {
  position: fixed;
  width: 30px;
  object-fit: contain;
  right: 20px;
}
